.home {
  display: flex;
  background-color: rgb(241, 240, 240);
  height: 100vh;
}
#dark .home {
  background-color: #192428;
  width: fit-content;
}
/* //rgb(0, 0, 29) */
@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    background-color: white;
  }
  #dark .home {
    background-color: #192428;
    width: fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
}
