.allExpenses {
  max-height: 450px;
  height: max-content;

  overflow-y: auto;
  overflow-x: hidden;
}
.allExpenses::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.allExpenses {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
